.category{
    background-color: whitesmoke;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ul{
    display: flex;
    flex-direction: row;
    margin:0;
    border: 1px solid black;
    border-left: none;
    border-right:none ;
    overflow: scroll;
}
.li{
    margin: 0 4px;
    font-size: large;
    border: 1px solid black;
    border-top: none;
    border-bottom:none ;
    padding:0px 4px ;
}